*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Brice';
  src: url(../fonts/Brice-Regular.otf);
}
@font-face {
  font-family: 'Brice-Bold';
  src: url(../fonts/Brice-Bold.otf);
}

body, main {
  font-family: 'Brice', 'Montserrat', sans-serif;
  position: relative;
}

/* ------------------Sección navbar--------------------- */
.navbar{
background-color: #f58251b8!important;
height: 60px;
}

.nav-item{
    padding: 0px 20px;
   
}

.navbar-nav{
    padding-right: 45px;
}

.navbar-brand{
    padding: 10px 60px;
}

.navbar-brand:hover{
  animation: flip;
  animation-duration: 1s;
}

.itemNav{
    color: #EEE1D4!important;
    text-shadow: 2px 1px 1px#4894A9;
    
}

.dropdown-item{
  color: white;
}

.dropdown-item:hover{
  color: white;
  background-color: #4894A9;
}

.dropdown-menu{
  background-color: #4894a993;
}

  /* ----------------Sección main----------------- */
  .naranja{
      background-color: #F58251;
      width: 100%;
      min-height: 100vh;
      position: relative;
      scroll-snap-align: center;
    
  }
  .natural{
    background-color: #EEE1D4;
    width: 100%;
    min-height: 100vh;
    scroll-snap-align: center;
  }

  .celeste{
    background-color: #9ecbdc;
    width: 100%;
    min-height: 100vh;
    position: relative;
    scroll-snap-align: center;
  }

  .arcoiris{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }

  .arcoiris-pequeño{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 1;
  }

  .contenido{
    z-index: 2;
  }

  .titulo{
    color: #EEE1D4;
    font-weight: bold;
    font-size: 80px;
    text-shadow: 5px 5px 0px #4894A9;
    font-family: 'Brice-Bold';
  }
  .subtitulo{
    color: #EEE1D4;
    font-size: 30px;
    text-shadow: 4px 4px 0px #4894A9;
    
  }

  .tituloN{
    color: #F58251;
    font-size: 80px;
    font-family: 'Brice-Bold';
  }

  .parrafo{
    font-family: 'Montserrat', sans-serif;
    padding: 0 8rem;

  }

  .unicornio{
    position: absolute;
    height: 100vh;
    left: -15px;
  }

  /* ------------------Sección cards------------------ */
  .card{
    width: 380px;
    height: 450px;
    margin: 30px;
  }

  .iconosCard{
    width: 20%;
  }

    /* ----------------Sección contacto----------------- */

  .titulo-contacto{
    color: #EEE1D4;
    font-size: 60px;
    font-family: 'Brice-Bold';
  }

  .tamaño-form{
    width: 50%;
  }

  .form-group{
    color: #4894A9;
  }

  .form-control{
    background-color: #EEE1D4;
    box-shadow : 4px 4px 2px #F3B84E;
  }

  .btn-contacto{
    background-color: #EEE1D4;
    color: #F58251;
  }

  .btn-contacto:hover{
    background-color: #4894A9;
    color: #EEE1D4;
  }

    /* ----------------Sección portfolio----------------- */
    /* .trabajoHover::before{
      position: absolute;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgba(255, 255, 255, 0.651);
      font-size: 25px;
      bottom: 0;
      left: 0;
      right: 0;
      content:'';
    }
    
    .trabajoHover:hover::before{
      content:'VER TRABAJO COMPLETO';
      transition: 0.4s!important;
      background-color: rgba(0, 0, 0, 0.616);
    
    }

    .hoverWrapper{
      position: relative;
      width: 50%;
    } */

    .carousel-inner{
      width: 80%;
    }
    .carousel{
      width: 100%;
      display: flex;
      justify-content: center;
    }

    .modal-content{
      width: 90vw;
    }
    .modal-dialog{
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .modal-body{
      padding: 4rem 1rem;
    }

    .img1{
      width: 20%;
    }
    .img2{
      width: 40%;

    }

    .img-ocultas{
      display: none;
    }

    /* ----------------Sección footer----------------- */
    
  footer{
      background-color: #fdd7d0;
  }

  .redes{
    width: 30px;
  }

  /* ------------------Medias querys------------------ */

  @media  (max-width: 800px) {
    .nav-item{
      padding: 0;
    } 
.nav-link{
  color: #4894A9!important;
  text-shadow: none;
}
.navbar-brand{
    padding: 10px;
} 
.navbar-nav{
    padding: 0;
}
.tituloN{
  font-size: 40px;
}
.titulo{
  font-size: 60px;
  color: #4894A9;
  text-shadow: 5px 5px 0px#EEE1D4;
}
.subtitulo{
  font-size: 28px;
  color: #4894A9;
  text-shadow: 4px 4px 0px #EEE1D4;
  
}

.parrafo{
  padding: 0 4rem;
}

.card{
  width: 90vw;
  min-height: 23rem;
  height: auto;
}

.trabajos{
  width: 90%;
}

.foto{
  width: 65%;
  margin: 0;

}

.parrafoPortfolio{
  width: 90%;
}

.tamaño-form{
  width: 80%;
}

.titulo-contacto{
  font-size: 40px;
}



  }

  
  @media  (max-width: 1050px) {
    .unicornio{
      display: none;

        }
    
  }


  @media  (max-width: 768px) {
    .arcoiris{
      display: none;

        }

    .arcoiris-pequeño{
      display: block;
    }
    
    .titulo{
      font-size: 50px;
    }

    .parrafo{
      padding: 0 1rem;
    }

    .titulo-contacto{
      color: #4894A9;
    }

    .img1{
      width: 100%;
      margin-bottom: 1rem;
    }
    .img2{
      width: 100%;
      margin-bottom: 1rem;

    }
    .nav-link{
      text-align: center;
      color: #4894A9!important;
      text-shadow: none;
      
    }
    .navbar-nav{
      border-radius: 10px;
      background-color: #eee1d4c2;
    }
    .navbar{
      background-color: #f5825100!important;
      height: auto;
      }

  }

  @media (max-width: 550px){
    .carousel{
      display: none;
    }

    .img-ocultas{
      display: block;
    }
  }