@font-face {
    font-family: 'Brice';
    src: url('../fonts/Brice-Regular.otf') format('otf'),
  }

  body {
    font-family: 'Brice', Fallback, sans-serif;
  }

/* ------------------Sección navbar--------------------- */
.nav-item{
    padding: 0px 20px;
}

.navbar-nav{
    padding-right: 45px;
}

.navbar-brand{
    padding: 10px 60px;
}

.itemNav{
    color: #4894A9!important;
    
}

@media (max-width: 320px) {
    .nav-item{
      padding: 0;
    } 
.navbar-brand{
    padding: 10px;
} 
.navbar-nav{
    padding: 0;
}
  }